<!DOCTYPE html>
<html>
<head>
  <title>Splog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="application_header">
    <span id="application_title">
    	<%= link_to 'Splog', :root %>
    </span>
    <span id="header_logout">
    	<%= link_to 'Logout', session_path(session[:user_id]), :method => 'delete' if current_user %>
    </span>
    <div id="header_contents"> 春から始めようブログ！</div>
	</div>
	<% if current_user %>
	<div id="application_sidemenu">
		<p><%= link_to current_user.name, articles_path %></p>
		<p><%= link_to '記事を書く', new_article_path %></p>
	</div>
	<% end %>
  <div id="application_contents">
    <%= yield %>
  </div>
  <div id="applicatioin_footer"></div>
</body>
</html>
